<!DOCTYPE html>
<html lang="es" ng-app = myDataCenter>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        
        <title>X-NBA MyDataCenter</title>
        <!-- Dependencias de la aplicacion -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="/presentation/libs/jquery.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/presentation/styles/styles.css">
        <link rel="stylesheet" href="/presentation/styles/sticky-footer-navbar.css">
        <link rel="stylesheet" href="/presentation/styles/angular-flash.css" type="text/css" />
    
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.js"></script>  
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
	   
	    <script type="text/javascript" src="/presentation/libs/angular-flash.min.js"></script>
        <script type="text/javascript" src="/presentation/configuration/configuration.js"></script>
        <script type="text/javascript" src="/presentation/libs/datepicker.js"></script>

        <script type="text/javascript" src="/presentation/libs/mensajeError.js"></script>
        <script type="text/javascript" src="/presentation/libs/solicitudesHttp.js"></script>
        <script type="text/javascript" src="/presentation/Servicios/svsCompartirJugador.js"></script> 
        
        <script type="text/javascript" src="/presentation/Servicios/svsSesion.js"></script>
        <script type="text/javascript" src="/presentation/Servicios/svsNavegacion.js"></script> 
        
        <script type="text/javascript" src="/presentation/ManejadorSolicitudes/svsManejadorTemporadas.js"></script>
        <script type="text/javascript" src="/presentation/ManejadorSolicitudes/svsManejadorSesiones.js"></script>
        <script type="text/javascript" src="/presentation/ManejadorSolicitudes/svsManejadorJugadores.js"></script>
        <script type="text/javascript" src="/presentation/ManejadorSolicitudes/svsManejadorEstadisticas.js"></script>

        <script type="text/javascript" src="/presentation/controllers/indexCtl.js"></script>
        <script type="text/javascript" src="/presentation/controllers/teamsCtl.js"></script>

        <script type="text/javascript" src="/presentation/controllers/ctlInicioSesion.js"></script>
        <script type="text/javascript" src="/presentation/controllers/ctlJugadores.js"></script>
        <script type="text/javascript" src="/presentation/controllers/ctlJugador.js"></script>
        <script type="text/javascript" src="/presentation/controllers/ctlRankings.js"></script>

        
    </head>
    <body >
        <div id="index" class="container-fluid" ng-controller="ctlIndex as index">
            <div class="row">
                <div class="col-md-1"></div>
                <!--barra de navegacion-->
                <div class="col-md-10">
                    <br></br>
                    <div class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">
                                    <img alt="Brand" src="presentation/images/nba_small_logo.png" style="margin-top:-6px;">
                                </a>
                            </div>
                            <div class="navbar-collapse collapse" >
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a ng-href="/teams">Teams</a></li>
                                    <li><a ng-href="/players">Players</a></li>
                                    <li><a ng-href="/rankings">Rankings</a></li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div> 
            </div>
            <div ng-view="">
                <!--se cargan los templates segun la ruta-->
            </div>
        </div>
        <footer class="footer">
            <div class="container" align="center">
                <p class="text-muted">2015 @ Todos los derechos reservados. MyDataCenter, X-NBA.</p>
            </div>
        </footer>
    </body>
</html>