<div id="player">
    <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10" align="center"> 
            <div flash-message="4000" ></div> 
            <img src="presentation/images/nba_player_profile.png" width="100%" height="100%" >
            <br></br>
        </div>
        <div class="col-md-1"></div> 
    </div>
    <div class="row">
        <div class="col-md-1"></div> 
        <div flash-message="4000" ></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--div para la  foto del jugador-->
                    <div class="col-md-6" align="center">
                        <img ng-src="{{vm.player.urlImagen}}" class="img-rounded" width="90%" height="90%">
                    </div>
                    <!--div para ver el perfil del jugador-->
                    <div class="col-md-6" align="left">
                        <h2> Name: {{vm.player.nombre}} {{vm.player.apellido}}</h2>
                        <h3> Team: {{vm.player.equipoActual}}</h3>
                        <h4> Number: {{vm.player.numCamiseta}}</h4>
                        <p> Birthday: {{vm.player.fechaNacimiento}}</p>
                        <p> Height: {{vm.player.altura}} cm</p>
                        <p> Weight: {{vm.player.peso}} kg</p>
                        <p> Position: {{vm.player.posicion}}</p>
                        <p> Country: {{vm.player.pais}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div> 
    </div>
     <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10"> 
            <img src="presentation/images/nba_player_statistics.png" width="100%" height="100%" >
            <br></br>
        </div>
        <div class="col-md-1"></div> 
    </div>
    <!--div para ver las estadisticas del jugador-->
    <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="tab" href="#regular">Regular season statistics</a></li>
                <li><a data-toggle="tab" href="#posterior">Post season statistics</a></li>
            </ul>
            <div class="tab-content" align="center">
                <!--div para ver las estadisticas de la temporada regular-->
                <div id="regular" class="tab-pane fade in active">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Season</th>
                                            <th>Team</th>
                                            <th># Games</th>
                                            <th># Partidos titular</th>
                                            <th>Match points</th>
                                            <th>Asistencias por partido</th>
                                            <th>Robos por partidos</th>
                                            <th>Bloqueos por partidos</th>
                                            <th>% de tiro de campo</th>
                                            <th>% de tiro libre</th>
                                            <th>% de tiro de 3 puntos</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="reg in vm.statistics.regular">
                                        <tr>
                                            <td>{{reg.temporada}}</td>
                                            <td>{{vm.player.equipoActual}}</td>
                                            <td>{{reg.partidos}}</td>
                                            <td>{{reg.partidosTitular}}</td>
                                            <td>{{reg.puntosPartido}}</td>
                                            <td>{{reg.asistenciasPartido}}</td>
                                            <td>{{reg.robosPartido}}</td>
                                            <td>{{reg.bloqueosPartido}}</td>
                                            <td>{{reg.porcentajeTiroCampo}}</td>
                                            <td>{{reg.porcentajeTiroLibre}}</td>
                                            <td>{{reg.porcentajeTiroTresPuntos}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--div para ver las estadisticas de la post-temporada-->
                <div id="posterior" class="tab-pane fade">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Season</th>
                                            <th>Team</th>
                                            <th># Games</th>
                                            <th># Partidos titular</th>
                                            <th>Puntos por partido</th>
                                            <th>Asistencias por partido</th>
                                            <th>Robos por partidos</th>
                                            <th>Bloqueos por partidos</th>
                                            <th>% de tiro de campo</th>
                                            <th>% de tiro libre</th>
                                            <th>% de tiro de 3 puntos</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="post in vm.statistics.posterior">
                                        <tr>
                                            <td>{{post.temporada}}</td>
                                            <td>{{vm.player.equipoActual}}</td>
                                            <td>{{post.partidos}}</td>
                                            <td>{{post.partidosTitular}}</td>
                                            <td>{{post.puntosPartido}}</td>
                                            <td>{{post.asistenciasPartido}}</td>
                                            <td>{{post.robosPartido}}</td>
                                            <td>{{post.bloqueosPartido}}</td>
                                            <td>{{post.porcentajeTiroCampo}}</td>
                                            <td>{{post.porcentajeTiroLibre}}</td>
                                            <td>{{post.porcentajeTiroTresPuntos}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-1"></div> 
    </div>
</div> 
