<div id="player">
    <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10" align="center"> 
            <img src="presentation/images/nba_player_profile.png" width="100%" height="100%" >
            <br></br>
        </div>
        <div class="col-md-1"></div> 
    </div>
    <div class="row">
        <div class="col-md-1"></div> 
        <div flash-message="4000" ></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--div para la  foto del jugador-->
                    <div class="col-md-6" align="center">
                        <img ng-src="{{vm.jugador.urlImagen}}" class="img-rounded" width="90%" height="90%">
                    </div>
                    <!--div para ver el perfil del jugador-->
                    <div class="col-md-6" align="left">
                        <h2> Nombre: {{vm.jugador.nombre}} {{vm.jugador.apellido}}</h2>
                        <h3> Equipo actual: {{vm.jugador.equipoActual}}</h3>
                        <h4> Numero de camiseta: {{vm.jugador.numCamiseta}}</h4>
                        <p> Fecha de nacimiento: {{vm.jugador.fechaNacimiento}}</p>
                        <p> Altura: {{vm.jugador.altura}} cm</p>
                        <p> Peso: {{vm.jugador.peso}} kg</p>
                        <p> Posicion: {{vm.jugador.posicion}}</p>
                        <p> Pais: {{vm.jugador.pais}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div> 
    </div>
     <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10"> 
            <img src="presentation/images/nba_player_statistics.png" width="100%" height="100%" >
            <br></br>
        </div>
        <div class="col-md-1"></div> 
    </div>
    <!--div para ver las estadisticas del jugador-->
    <div class="row">
        <div class="col-md-1"></div> 
        <div class="col-md-10">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="tab" href="#regular">Estadisticas Temporada Regular</a></li>
                <li><a data-toggle="tab" href="#posterior">Estadisticas Pos-Temporada</a></li>
            </ul>
            <div class="tab-content" align="center">
                <!--div para ver las estadisticas de la temporada regular-->
                <div id="regular" class="tab-pane fade in active">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Temporada</th>
                                            <th>Equipo</th>
                                            <th># Partidos</th>
                                            <th># Partidos titular</th>
                                            <th>Puntos por partido</th>
                                            <th>Asistencias por partido</th>
                                            <th>Robos por partidos</th>
                                            <th>Bloqueos por partidos</th>
                                            <th>Porcentaje de tiro de campo</th>
                                            <th>Porcentaje de tiro libre</th>
                                            <th>Porcentaje de tiro de 3 puntos</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="regular in vm.estadisticas.regular">
                                        <tr>
                                            <td>{{regular.temporada}}</td>
                                            <td>{{regular.equipo}}</td>
                                            <td>{{regular.partidos}}</td>
                                            <td>{{regular.partidosTitular}}</td>
                                            <td>{{regular.puntosPartido}}</td>
                                            <td>{{regular.asistenciasPartido}}</td>
                                            <td>{{regular.robosPartido}}</td>
                                            <td>{{regular.bloqueosPartido}}</td>
                                            <td>{{regular.porcentajeTiroCampo}}</td>
                                            <td>{{regular.porcentajeTiroLibre}}</td>
                                            <td>{{regular.porcentajeTiroTresPuntos}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--div para ver las estadisticas de la post-temporada-->
                <div id="posterior" class="tab-pane fade">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Temporada</th>
                                            <th>Equipo</th>
                                            <th># Partidos</th>
                                            <th># Partidos titular</th>
                                            <th>Puntos por partido</th>
                                            <th>Asistencias por partido</th>
                                            <th>Robos por partidos</th>
                                            <th>Bloqueos por partidos</th>
                                            <th>Porcentaje de tiro de campo</th>
                                            <th>Porcentaje de tiro libre</th>
                                            <th>Porcentaje de tiro de 3 puntos</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="posterior in vm.estadisticas.posterior">
                                        <tr>
                                            <td>{{posterior.temporada}}</td>
                                            <td>{{posterior.equipo}}</td>
                                            <td>{{posterior.partidos}}</td>
                                            <td>{{posterior.partidosTitular}}</td>
                                            <td>{{posterior.puntosPartido}}</td>
                                            <td>{{posterior.asistenciasPartido}}</td>
                                            <td>{{posterior.robosPartido}}</td>
                                            <td>{{posterior.bloqueosPartido}}</td>
                                            <td>{{posterior.porcentajeTiroCampo}}</td>
                                            <td>{{posterior.porcentajeTiroLibre}}</td>
                                            <td>{{posterior.porcentajeTiroTresPuntos}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-1"></div> 
    </div>
</div> 
